<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="../css/style-about.css"/>
    </head>
    <body>
        <main class="layout">
            <header class="icon">
                <i><a href="../index.html">Nene<br/> Caçambas</a></i>
            </header>
            <nav class="navbar">
                <ul class="lista">
                    <li class="item-lista">
                        <a href="../index.html">
                        <i class="fas fa-home"></i><span> Home</span></a>
                    </li>
                    <!--    <li class="item-lista">
                            <a href="#">
                                <i class="fas fa-question-circle"></i><span> Sobre nos</span>
                            </a>
                        </li>-->
                    <li class="item-lista">
                        <a href="#"><i class="fas fa-cogs"></i><span> Nossos Serviços</span>
                        </a>
                    </li>
                    <li class="item-lista">
                        <button type="button" class="btn-navbar btn-modal3"> Contate-nos</button></li>
                </ul>
            </nav>

            <section class="txtAboutUs">
                <h1>Sobre nos<figure class="stars">
                        <img src="../img/09. Rating-Quatro-estrelas-e-meia.png"/>
                    </figure></h1>

                <h3> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Nene Caçambas é uma empresa que tem como principal objetivo, o recolhimento de lixo, entulho, areia, pedras, reboque e diversos outros materiais que recolhemos atravez dos nossos caminhões e nossas caçambas. A Nene Caçambas, está nesse ramo a certa de 10 anos, e com isso, oferecemos um trabalho de qualidade por nossa experiencia de serviço, Juntamente com nossos preços extremamentes justos com o cliente, vizando uma experiencia digna e de qualidade para com o consumidor de nossos serviços. As caçambas das nossas empresas, são caçambas cadastradas pela prefeitura, que podem ser visualizadas no site da prefeitura<br/><br/><br/>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Alem disso, somos uma empresa com um rating de 4.6 estrelas na analises de usuario no Google(no atual momento), mostrando a nossa competencia como empresa prestadora de serviços, pode ser visualizado na seguinte imagem: 
                <br/>
                <br/>
                <figure class="ratingGoogle">
                    <img src="../img/RatingGoogle.jpg"/>
                </figure>
                <br/>
                <br/>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Tambem no website <a href="https://www.cacambas.net.br/sobre/nene-cacambas-sao-paulo-sp">Caçambas.net</a> Somos uma empresa avaliada em 4 estrelas, ou seja, Realmente temos o certificado de competencia. <br/>
                <figure class="ratingGoogle">
                    <img src="../img/RatingCacambas.net.jpg"/>
                </figure>
            </h3>
                
            </section>
            <footer>
                <h2>&copy; Nene caçambas</h2>
                <h3>Desenvolvido por: <a target="blank" href="https://github.com/GustavoSMelo">Gustavo S. Melo</a></h3>
            </footer>
        </main>
    </body>
</html>