<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>&#x1F69B; Nene - Sobre nós</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="../css/style-about.css"/>
    </head>
    <body>
        <article class="modal">
            <section class="modal-content">
                <h1>Escolha o meio de contato: </h1>
                                
                <br/>
                <a href="mailto:polylimpcacambas@gmail.com
                "><button class="btnGmail"><i class="fab fa-google"></i> Gmail</button></a>
        
                <br/>
                <a href="https://api.whatsapp.com/send?1=pt+br&phone=5511947171873"><button class="btnWhatsapp"><i class="fab fa-whatsapp"></i> Whatsapp</button></a>
        
                <br/>
                <a href="https://www.facebook.com/polylimp/"><button class="btnFacebook"><i class="fab fa-facebook-square"></i> Facebook</button></a>
        
                <br/>
                <a href="./about-us.html"><button class="exitModal"> <i class="fas fa-times"></i> Close</button></a>
            </section>
        </article>

        <main class="layout">
            <header class="icon">
                <i><a href="../index.html">Nene<br/> Caçambas</a></i>
            </header>
            <nav class="navbar">
                <ul class="lista">
                    <li class="item-lista">
                        <a href="../index.html">
                        <i class="fas fa-home"></i><span> Home</span></a>
                    </li>
                    <!--<li class="item-lista">
                            <a href="#">
                                <i class="fas fa-question-circle"></i><span> Sobre nos</span>
                            </a>
                        </li>-->
                    <li class="item-lista">
                        <a href="./services.html"><i class="fas fa-cogs"></i><span> Nossos Serviços</span>
                        </a>
                    </li>
                    <li class="item-lista">
                        <button type="button" class="btn-navbar btn-modal"> Contate-nos</button></li>
                </ul>
            </nav>

            <section class="txtAboutUs">
                <h1>Sobre nos<figure class="stars">
                        <img src="../img/09. Rating-Quatro-estrelas-e-meia.png"/>
                    </figure></h1>

                <h3>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; A Poly Limp caçambas (NENE CAÇAMBAS) é uma empresa com mais de 15 anos no ramo de locação de caçambas, terraplanagem e demolições em geral.
                    Com nossa experiência, podemos oferecer um serviço de qualidade e com os melhores preços do mercado.
                    Nossas caçambas são todas cadastradas pela prefeitura e que você pode conferir através do site da PMSP <a href="http://www.prefeitura.sp.gov.br/cidade/secretarias/regionais/amlurb/">Site oficial da prefeitura para visualizar nossas caçambas aqui</a>
                    <br/><br/><br/>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Alem disso, somos uma empresa com um rating de 4.6 estrelas na analises de usuario no Google(no atual momento), mostrando a nossa competencia como empresa prestadora de serviços, pode ser visualizado na seguinte imagem: 
                <br/>
                <br/>
                <figure class="ratingGoogle">
                    <img src="../img/RatingGoogle.jpg"/>
                </figure>
                <br/>
                <br/>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Tambem no website <a href="https://www.cacambas.net.br/sobre/nene-cacambas-sao-paulo-sp">Caçambas.net</a> Somos uma empresa avaliada em 4 estrelas, ou seja, Realmente temos o certificado de competencia. <br/>
                <figure class="ratingGoogle">
                    <img src="../img/RatingCacambas.net.jpg"/>
                </figure>
            </h3>
                
            </section>
            <footer>
                <h2>&copy; Nene caçambas</h2>
                <h3>Desenvolvido por: <a target="blank" href="https://github.com/GustavoSMelo">Gustavo S. Melo</a></h3>
            </footer>
        </main>
        <script type="text/javascript" src="../bundle.js"></script>
    </body>
</html>
