<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Nossos serviços</title>
        <link rel="stylesheet" type="text/css" href="../css/style-services.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous"/>
    </head>
    <body>

        <article class="modal">
            <section class="modal-content">
                <h1>Escolha o meio de contato: </h1>
                                
                <br/>
                <a href="mailto:polylimpcacambas@gmail.com
                "><button class="btnGmail"><i class="fab fa-google"></i> Gmail</button></a>
        
                <br/>
                <a href="https://api.whatsapp.com/send?1=pt+br&phone=5511947171873"><button class="btnWhatsapp"><i class="fab fa-whatsapp"></i> Whatsapp</button></a>
        
                <br/>
                <a href="https://www.facebook.com/polylimp/"><button class="btnFacebook"><i class="fab fa-facebook-square"></i> Facebook</button></a>
        
                <br/>
                <a href="./services.html"><button class="exitModal"> <i class="fas fa-times"></i> Close</button>
                </section></a>
        </article>

        <main class="layout">
            <header class="icon">
                <i><a href="../index.html">Nene<br/> Caçambas</a></i>
            </header>
            <nav class="navbar">
                <ul class="lista">
                    <li class="item-lista">
                        <a href="../index.html">
                            <i class="fas fa-home"></i><span> Home</span></a>
                    </li>
                    <li class="item-lista">
                        <a href="./about-us.html">
                            <i class="fas fa-question-circle"></i><span> Sobre nos</span>
                        </a>
                    </li>
                    <!--<li class="item-lista">
                        <a href="#"><i class="fas fa-cogs"></i><span> Nossos Serviços</span>
                        </a>
                    </li>-->
                    <li class="item-lista">
                        <button type="button" class="btn-navbar btn-modal"> Contate-nos</button></li>
                </ul>
            </nav>

            <hgroup class="apresentacao">
                <h1> 👷 Serviços Oferecidos: </h1>
            </hgroup>

            <figure class="locacao-cacambas-img size-img-default">
                <img src="../img/img05.jpeg"/>
            </figure>

            <section class="locacao-cacambas-txt">
                <h1>Locação de caçambas</h1>
                <br/>
                <p>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Locação de caçambas estacionárias para coleta de qualquer tipo de entulho, como exemplo:
                    <ul>
                        <li>construção civil de empresas,</li>
                
                        <li>residências,</li>
                        <li>condomínios,</li>
                        <li>e órgãos públicos;</li>
                    </ul>

                    <br/>
                    Entra em nossas caçambas materias como:
                    <ul>
                        <li>Areia</li>
                        <li>Pedra</li>
                        <li>Reboque</li>
                        <li>Entre outros itens que tambem aceitamos em nossas caçamba! 😄</li>
                    </ul>
                </p>
            </section>

            <section class="terraplanagem-txt">
                <h1>Terraplanagem e Demolição em geral! </h1>
                <br/>
                <p>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Estamos com profissionais capacitados para realizar a demolição de varios tipos de estruturas, como exemplo:
                    <br/>
                    <ul>
                        <li>Comercios</li>
                        <li>Residencias</li>
                        <li>Galpoes</li>
                        <li>Aterro e desaterro</li>
                        <li>Escavações</li>
                        <li>Remoção de entulhos</li>
                        <li>Desmonte de concreto</li>
                        <li>Entre outros</li>
                    </ul>
                    <br/>
                    
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Assim que sua estrutura estiver demolida,
                    podemos realizar a planagem de sua terra e utilizar as nossas caçambas para armazenar todo o entulho durante a demolição e planagem de terra.
                    <br/>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Mas tambem realizamos locações de maquinas e equipamentos para escavação e terraplanagem
                    <br/>
                    Que combo!
                </p>
            </section>

            <figure class="terraplanagem-img size-img-default">
                <img src="../img/img03.jpeg"/>
            </figure>

            <figure class="nature-img size-img-default">
                <img src="../img/nature-img.jpg"/>
            </figure>

            <article class="nature-txt">
                <h1>🌲 Preservamos a natureza</h1>
                <br/>
                <p>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Todos os entulhos que recolhemos é reutilizado para realizar a planagem de terrenos ou obras afins, tambem descartamos de forma inteligente e benefico ao meio ambiente.
                    <br/>
                    <br/>
                    Para isso, aterramos o entulho em lugares aprovados e recomendados pela prefeitura do estado de São Paulo 😄
                    
                    <br/>
                    <br/>
                    E tambem reutilizamos para quem está precisando construir ou reformar o seu estabelecimento por um preço acessivel e economico para qualquer cliente nosso
                    
                </p>
            </article>

            <footer>
                <h2>&copy; Nene caçambas</h2>
                <h3>Desenvolvido por: <a target="blank" href="https://github.com/GustavoSMelo">Gustavo S. Melo</a></h3>
            </footer>
        </main>
        <script type="text/javascript" src="../bundle.js"></script>
    </body>
</html>
